/* Global */
body {
    font-family: 'Fauna One', serif;
    background-color: #F4F9E9;
    margin: 10px;
    padding: 0px;
}
/* Link */
a.button-link {
    background-color: #003E1F;
    color: #F4F9E9;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a.button-link:hover,
a.button-link:active {
    background-color: #FFA59E;
    color: #170F11;
}
/* Header */
header {
    background-color: #648DE5;
    box-shadow: 0 1px 8px #ddd;
    padding: 15px 30px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

/* Title */
#nav-title {
    font-family: Cinzel, serif;
    font-size: 1.8em;
    margin: 0; 
}

#nav-title a {
    text-decoration: none;
    color: #170F11;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #170F11;
    font-family: 'Fauna One', serif;
    font-size: 1.1em;
    transition: color 0.3s ease;
    background-color: transparent;;
}

.nav-links a:hover {
    color: #F4F9E9;
    border-bottom: 2px solid #F4F9E9;
    padding-bottom: 2px;
}

/* Masonry Container */
.masonry-container {
    column-count: 2;
    column-gap: 20px;
    padding: 20px;
    background-color: #F4F9E9;
}

.masonry-item {
    background: #F4F9E9;
    border: 1px solid #003E1F;
    margin-bottom: 20px;
    padding: 15px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    break-inside: avoid;
}
.masonry-item img {
    max-width: 50%;
    max-height: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.masonry-item h2 {
    font-size: 1.5em;
    margin: 0;
}
.masonry-item p {
    font-size: 1em;
    margin: 10px 0;
}


/* Flexbox */
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 40px 50px;
    background-color: #F4F9E9;
}

.flex-container>div {
    background-color: #F4F9E9;
    text-align: left;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #003E1F;
    width: 500px;
    margin: 0px;
}